.card-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border: 2px solid $secondary;
  border-radius: 20px 20px 20px 20px;
  margin: 1.5rem 0;
  padding: 1rem;
  font-family: $font-family;
  color: $black;
  box-shadow: 8px 5px 15px -2px rgba(0, 0, 0, 0.44);
  background-color: white;
  .card-username {
    display: grid;
    grid-template-columns: 10% 10% 1fr;
    align-items: center;
    gap: 1rem;
    .fa-regular {
      display: flex;
      justify-content: center;
      padding: 1.2rem 2rem;
      background-color: $secondary;
      border-radius: 15px;
      font-size: 24px;
      color: $primary;
    }
    .post-username {
      display: flex;
      justify-content: flex-start;
      color: $black;
      font-weight: 600;
    }
    .post-date {
      display: flex;
      justify-content: flex-end;
      font-style: italic;
      font-size: 14px;
      color: $black;
    }
  }
  .card-post {
    padding-left: 5rem;
    .post-title {
      margin-top: 0;
      margin-bottom: 2.5rem;
      font-weight: 600;
    }
    textarea {
      padding: 1rem;
      margin: 0 0 16px 0;
      font-size: 16px;
      border: 2px solid $primary;
      border-radius: 0px 20px 20px 20px;
      background-color: #fff6f6;
      font-family: $font-family;
      min-width: 500px;
    }
  }
  .update-delete-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    .fa-regular {
      color: $primary;
      background-color: $secondary;
      padding: 0.5rem;
      border-radius: 30px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background: $primary;
        color: $black;
        border: 2px solid $primary;
        box-shadow: 3px 3px 8px rgba(51, 51, 51, 0.418);
      }
    }
  }
}
ul {
  padding: 0;
}
