.connection-form {
  border: 2px solid $secondary;
  border-radius: 20px;
  margin: 35px auto 0;
  padding: 20px 0;
  user-select: none;
  text-align: center;
  font-family: $font-family;
  background-color: $secondary;

  ul {
    padding: 10px;
    display: flex;
    justify-content: space-around;

    li {
      background: #f9b8b1;
      list-style-type: none;
      color: $black;
      width: 130px;
      padding: 10px 0;
      border-radius: 18px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: $primary;
        color: $white;
        box-shadow: 3px 3px 8px rgba(51, 51, 51, 0.418);
      }
    }
  }

  .active-btn {
    background: $primary;
    color: $white;
    box-shadow: 3px 3px 8px rgba(51, 51, 51, 0.418);
  }
  form {
    width: 400px;
    margin: 10px auto 0;
    padding: 20px;
  }
}
