.nav-container {
  display: grid;
  grid-template-columns: 15% 85%;
  gap: 4rem;
  font-family: $font-family;
  font-weight: 400;
  padding: 1rem;
  border-bottom: 2px solid $secondary;
  box-shadow: 0px 5px 10px -8px #000000b3;

  h5 {
    color: $black;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  .logo {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    h5 {
      font-weight: 600;
      font-size: 24px;
    }
  }
  img {
    width: 3rem;
    height: 3rem;
  }
  ul {
    display: grid;
    grid-template-columns: 10% 10% 70% 10%;
    align-items: center;
    li {
      list-style-type: none;

      h5 {
        font-size: 18px;
        font-weight: 200;
        transition: 0.3s;
        &:hover {
          color: $primary;
        }
      }
      .fa-solid {
        color: $black;
        font-size: 20px;
        transition: 0.3s;
        &:hover {
          color: $primary;
        }
      }
    }
    .welcome {
      h5 {
        font-size: 22px;
        font-weight: 500;
        padding-left: 10rem;
      }
    }
  }
}
