.new-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  .post-container {
    font-family: $font-family;
    color: $black;
    background-color: $secondary;
    min-width: 700px;
    max-width: 700px;
    margin-top: 2rem;
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 8px 5px 15px -2px rgba(0, 0, 0, 0.44);
    .data {
      display: flex;
      align-items: flex-end;
      gap: 1rem;
      margin-bottom: 1rem;
      .fa-regular {
        display: flex;
        justify-content: center;
        padding: 1.2rem 1.3rem;
        background-color: $primary;
        border-radius: 15px;
        font-size: 24px;
        color: $secondary;
      }
      a {
        text-decoration: none;
        color: $black;
        h3 {
          font-size: 26px;
          font-weight: 500;
          margin: 0;
        }
      }
    }
  }
  .post-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    textarea {
      border: 2px solid $secondary;
      border-radius: 15px;
      padding: 0.5rem;
      font-family: $font-family;
      font-style: italic;
      font-size: 14px;
      color: #2121219c;
    }
    .card-container {
      .card-header {
        display: grid;
        grid-template-columns: 10% 10% 1fr;
        align-items: center;
        gap: 1rem;
        .fa-regular {
          display: flex;
          justify-content: center;
          padding: 1.2rem 2rem;
          background-color: $secondary;
          border-radius: 15px;
          font-size: 24px;
          color: $primary;
        }
        h3 {
          display: flex;
          justify-content: flex-start;
          color: $black;
          font-weight: 600;
        }
        .post-date {
          display: flex;
          justify-content: flex-end;
          font-style: italic;
          font-size: 14px;
          color: $black;
        }
      }
      .content {
        padding-left: 5rem;
        .post-title {
          margin-top: 0;
          margin-bottom: 2.5rem;
          font-weight: 600;
        }
      }
    }
  }
  .btn-send {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}
