.profil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-family;
  h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    color: $primary;
  }
  .profil-info {
    display: flex;
    flex-direction: column;
    background-color: $secondary;
    border-radius: 15px;
    padding: 3rem;
    max-width: 500px;
    h3 {
      font-weight: 600;
      color: $primary;
    }
    span {
      font-weight: 400;
      color: $black;
    }
    .bio-update {
      display: flex;
      flex-direction: column;
      p {
        padding: 1rem;
        font-size: 16px;
        border: 2px solid $primary;
        border-radius: 0px 20px 20px 20px;
        background-color: #f3e8e7;
        margin: 0;
        &:hover {
          border: 3px solid $primary;
        }
      }
      textarea {
        padding: 1rem;
        margin: 0 0 16px 0;
        font-size: 16px;
        border: 2px solid $primary;
        border-radius: 0px 20px 20px 20px;
        background-color: #c5c4c4;
        font-family: $font-family;
        min-width: 500px;
      }
    }
  }
}
button {
  display: flex;
  justify-content: center;
  background: #f9b8b1;
  list-style-type: none;
  font-family: $font-family;
  font-size: 16px;
  color: $black;
  width: auto;
  margin: 0.5rem 0;
  padding: 10px 10px;
  border: 2px solid $secondary;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background: $primary;
    color: $white;
    border: 2px solid $primary;
    box-shadow: 3px 3px 8px rgba(51, 51, 51, 0.418);
  }
}
